<!-- <p>
  candidateresults works!
</p> -->

<div class="row exam_results" *ngIf="auth.authenticated()">
	<div class="col-lg-4 col-sm-3 col-xs-12"></div>
	<div class="col-lg-4 col-sm-6 col-xs-12">
		<p class="exam_success_message">You have successfully completed the test</p>
		<div class="center_text">
			<h4 class="total_questions">Total Questions: 30</h4>
			<!-- <p>Correctly answered Questions: 30<p> -->
			<h4 class="total_marks">Total Marks: 20</h4>
			<h4 class="final_result">Final Result: <b>PASS</b></h4>
		</div>
	</div>
	<div class="col-lg-4 col-sm-3 col-xs-12 "></div>
</div>
<div class="row" *ngIf="!auth.authenticated()">
	<div class="col-sm-3 col-xs-12"></div>
	<div class="col-sm-6 col-xs-12">
		<h4>Please login and take the exam to see your results</h4>
	</div>
	<div class="col-sm-3 col-xs-12"></div>
</div>