
<div class="row" style="margin-top: 50px">
  <div class="col-xs-12">

    <div class="col-xs-3"></div>
    <div class="col-xs-6">
    <h4 style="margin-left: 130px"> LogIn To Take Online Test </h4>
    <h5 style="margin-left: 120px;">
      <img style=" border-radius: 20px" src="../../assets/images/candidate-login.png" alt="candidatelog"> </h5>
      <hr>

    <!--<div class="row">
      <button  > <a href="https://www.facebook.com/" >
                   <img src="../../assets/images/facebook_login.png"
                        alt="facebook" style="height: 60px;width: 250px" >
                 </a>
      </button>

      <button >
        <a (click)="onCandidateConditionGPage()">
        <img src="../../assets/images/Google-Plus.png"
             alt="googleplus" style="height: 60px;width: 250px">
        </a>
      </button>
    </div>-->
    </div>
    <div class="col-xs-3"></div>
  </div>
</div>

