<div class="row">

  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-3"></div>

      <div class="col-xs-6">
        <h4> TEST Guidelines - Please Read </h4>
        <hr>
        <h5><span class="glyphicon glyphicon-hand-right"></span> &nbsp;  Test is Based on <b>MULTIPLE CHOICE </b> Questions</h5>
        <h5><span class="glyphicon glyphicon-hand-right"></span> &nbsp;  All The Question Has To Be <b>"ANSWERED"</b> </h5>
        <h5>
          <span class="glyphicon glyphicon-hand-right"></span> &nbsp;  Test Will Be TimeBoxed and Has <b>20 Questions</b> <br><br>
          &nbsp; &nbsp; &nbsp; to be Completed With in <b>30 Minutes</b>
        </h5>
        <h5>
          <span class="glyphicon glyphicon-hand-right"></span> &nbsp;  You Will Be Restricted To Go <b>BACK</b> <br><br>
          &nbsp; &nbsp; &nbsp; and Change The Answer For A Question
        </h5>
        <h5>
          <span class="glyphicon glyphicon-hand-right"></span> &nbsp;  IF The Test is not completed within give time frame,<br><br>
          &nbsp; &nbsp; &nbsp; you will be automatically redirected to result page and <br><br>
          &nbsp; &nbsp; &nbsp; Results will be Declared based on the number of<br><br>
          &nbsp; &nbsp; &nbsp; questions and answered
        </h5>
        <h5>
          <span class="glyphicon glyphicon-hand-right"></span> &nbsp;  Please check timer for remaining time to complete<br><br>
          &nbsp; &nbsp; &nbsp; the test
        </h5>
        <h5><span class="glyphicon glyphicon-hand-right"></span> &nbsp;  Test can be attempted only once</h5>
        <h5><span class="glyphicon glyphicon-hand-right"></span> &nbsp;  HR will contact you once the test is complete</h5><br>
        <button type="button" class="btn btn-default">Accept & Continue</button>


      </div>

      <div class="col-xs-3"></div>

    </div>


  </div>


</div>
