<div class="row" *ngIf="auth.authenticated()">
	<div class="col-sm-2 col-xs-12"></div>
	<div class="col-sm-8 col-xs-12 conditions">
		<div class="conditions_main">
			<p class="conditions_headline">
				<b>Candidates appearing for the Test are required to strictly observe the following instructions :</b>
			</p>
			<div class="all_instructions">
			    <ul>
			    	<li>
			    		<p>Test is based on <u>Multiple choice</u> questions</p>
			    	</li>
			    	<li>
			    		<p>Test will be Time boxed to <u>30</u> minutes for <u>30</u> MCQ’s</p>
			    	</li>
			    	<li>
			    		<p>Test will be <u>started immediately</u> after you <u>accept and continue</u> in the next page</p>
			    	</li>
			    	<li>
			    		<p>Mark your answer by checking the <u>appropriate check box</u></p>
			    	</li>
			    	<li>
			    		<p>Going <u>“BACK”</u> will be restricted for changing the answers (read questions carefully and answer)</p>
			    	</li>
			    	<li>
			    		<p>
							The <u>question numbers</u> of attempted and unattempted questions are also shown to the <u>Left top of the screen</u>
						</p>
			    	</li>
			    	<li>
			    		<p>A <u>timer for exam</u> is displayed at the top right corner of the page that shows <u>remaining time</u> for your exam</p>
			    	</li>
			    	<li>
			    		<p>
							After the expiry of the time limit, the Test will <u>automatically terminate</u> and show the results based on answered questions
						</p>
			    	</li>
			    	<li>
			    		<p>
							<u>Copying from other’s material</u> or helping others in copying will be considered as <u>Malpractice and HR will not consider the Test</u>
						</p>
			    	</li>
			    	<li>
			    		<p>HR will contact you once the Test is complete</p>
			    	</li>
			    </ul>
			    <h2>Declaration</h2>
			    <p>
			      In accepting these terms and conditions, I declare that the information on my application is correct and I understand that if the answers are untrue, my application may be rejected or my results withheld. I have read the relevant extracts from the assessment regulations, and I will be eligible to sit the assessment for which I have applied, and I agree to comply with the assessment regulations, terms and conditions. ​
			    </p> 
		  	</div>
		</div>
	    <button type="button" class="btn btn-primary accept_continue" (click)="startExam()">
	    	Accept & Continue
	    </button>
	</div>
	<div class="col-sm-2 col-xs-12"></div>
</div>
<div class="row" *ngIf="!auth.authenticated()">
	<div class="col-sm-3 col-xs-12"></div>
	<div class="col-sm-6 col-xs-12 conditions">
		<h4 *ngIf="!auth.authenticated()">You are not logged in, please click 'Log in' button to login</h4>
	</div>
	<div class="col-sm-3 col-xs-12"></div>
</div>