<div class="row" *ngIf="auth.authenticated()">
	<div class="col-sm-3 col-xs-12"></div>
	<div class="col-sm-6 col-xs-12 conditions">
	  	<h2>Declaration</h2>
	    <p>
	      In accepting these terms and conditions, I declare that the information on my application is correct and I understand that if the answers are untrue, my application may be rejected or my results withheld. I have read the relevant extracts from the assessment regulations, and I will be eligible to sit the assessment for which I have applied, and I agree to comply with the assessment regulations, terms and conditions. I understand that receipt of the application form by the Institute is not a confirmation of eligibility. ​
	    </p>
	  	<h2>Application submission</h2>
	    <p>
	      On-line applications must have been submitted by midnight on the closing date for each examination session. The Institute cannot make allowance for any special circumstance, errors or omissions by applicants or persons acting on their behalf.
	    </p>
	    <h2>Data Protection Act</h2>
	    <p>
	      The protection of personal privacy is an important concern to the ICAEW and any personal data collected will be treated in accordance with current data protection legislation. The information collected by the ICAEW, may be used for statistics and profiling, communications and research purposes, examination and training administration, billing and risk assessment purposes, and to enable us to keep you up to date with relevant product and service developments. This information may be shared with third parties in pursuit of the above.
	    </p>
	    <h2>YOUR ACCOUNT</h2>
	    <p>
	      If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password.
	    </p>
	    <h2>QUESTIONS</h2>
	    <p>
	      Questions regarding our Conditions of Usage, Privacy Policy, or other policy related material can be directed to our support staff by clicking on the "Contact Us" link in the side menu. Or you can email us at: info@MYCOMPANY.com.
	    </p>
	    <h2>Disclaimer</h2>
	    <p>
	      The ICAEW will make its best endeavours to meet its published timetables for the holding of examinations and the publication of results, but will not be liable for any loss arising from candidates’ reliance on these dates if they are not met.
	    </p>
	    <h2>Results Notification</h2>
	    <p>
	      The examination results are correct at the time of leaving the Institute, which accepts no responsibility for errors or omissions caused as a result of their transmission via the internet, email, mobile telephony or their downloading or printing by the user.
	    </p>
	    
	    <button type="button" class="btn btn-primary" (click)="startExam()">Accept & Continue</button>

	</div>
	<div class="col-sm-3 col-xs-12"></div>
</div>
<div class="row">
	<div class="col-sm-3 col-xs-12"></div>
	<div class="col-sm-6 col-xs-12 conditions">
		<h4 *ngIf="!auth.authenticated()">You are not logged in, please click 'Log in' button to login</h4>
	</div>
	<div class="col-sm-3 col-xs-12"></div>
</div>